<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script type="text/javascript">
	function allowDrop(ev) {
		ev.preventDefault();
	}
	function drag(ev) {
		ev.dataTranser.setData("addurl", ev, target.id);
	}
	function drop(ev) {
		var id = ev.dataTranser.getData("addurl");
		ev.target.appendChild(document.getElementById(id));
	}
</script>
<head>
<meta charset="ISO-8859-1">
<title>a2z</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand-md bg-dark navbar-dark">
		<!-- Brand -->

		<a class="navbar-brand" href="#"></a>
		<!-- A2zgoogle One Shop Stop Solution  -->
		<!-- Toggler/collapsibe Button -->
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>

		<!-- Navbar links -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link"
					th:href="@{/ecommerce}">eCommerce</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/a2zgoogle}">Banking</a></li>

				<li class="nav-item"><a class="nav-link"
					th:href="@{/a2zgoogle}">Travels</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/a2zgoogle}">News</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/a2zgoogle}">Tradings</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/a2zgoogle}">Health</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/a2zgoogle}">Insurence</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/a2zgoogle}">Social Sites</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/a2zgoogle}">Emails</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/a2zgoogle}">a2zVideos</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/a2zgoogle}">a2zshare</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/a2zgoogle}">share</a></li>
				<li class="nav-item"><a class="nav-link"
					th:href="@{/a2zgoogle}">careers</a></li>
				<li class="nav-item" ,class="item-right">

<style>
  .speech {
    border: 1px solid #ddd;
    width: 300px;
    padding: 0;
    margin: 0;
  }
  .speech input {
    border: 0;
    width: 240px;
    display: inline-block;
    height: 30px;
  }
  .speech img {
    float: right;
    width: 40px;
  }
</style>

<!-- Search Form -->
<form id="labnol" method="get" action="https://www.google.com/search">
  <div class="speech">
    <input type="text" name="q" id="transcript" placeholder="Speak" />
    <img onclick="startDictation()" src="//i.imgur.com/cHidSVu.gif" />
  </div>
</form>

<!-- HTML5 Speech Recognition API -->
<script>
  function startDictation() {
    if (window.hasOwnProperty('webkitSpeechRecognition')) {
      var recognition = new webkitSpeechRecognition();

      recognition.continuous = false;
      recognition.interimResults = false;

      recognition.lang = 'en-US';
      recognition.start();

      recognition.onresult = function (e) {
        document.getElementById('transcript').value = e.results[0][0].transcript;
        recognition.stop();
        document.getElementById('labnol').submit();
      };

      recognition.onerror = function (e) {
        recognition.stop();
      };
    }
  }
</script>
  
</li>



				<li><a th:href="@{/a2zgoogle/sub}"
					class="btn btn-primary btn-sm mb-3">Sign Up</a></li>
			</ul>


		</div>
	</nav>
	
	<div class="container">
  <p class="info"></p>
</div>
	
	
	
	
	
	
	
	

	<div class="container">
		<div id="addurl" ondrop="drop(event)" ondropover="allowDrop(event)"
			style="display: inline-block; text-align: right; width: 100%"
			class="row">
			<h2>URL List</h2>
		</div>

		<div class="row">
			<div class="col-lg-3">
				<a th:href="@{/a2zgoogle/new}" class="btn btn-primary btn-sm mb-3">Add
					URL</a>
			</div>
		</div>
		<table class="table table-striped table-bordered"
			style="display: inline-block; text-align: right; width: 100%">
			<thead class="table-dark">
				<!--<tr>
				 	<th> Student First Name</th>
					<th> Student Last Name</th>
					<th> url </th>
					<th> Actions </th>
				</tr> -->
			</thead>

			<tbody>
				<tr align="right" th:each="a2zurl: ${a2zgoogle}"
					style="display: inline-block; text-align: right; width: 100%">
					<!-- <td th:text = "${a2zurl.firstName}"></td>
					<td th:text = "${a2zurl.lastName}"></td>
					<td th:text = "${a2zurl.email}"></td>  -->
					<!--  <td th:text = "${a2zurl.url}"></td> -->
					<td><a th:href="${a2zurl.url}" target="_blank"> <span
							th:text="${a2zurl.url}"><i
								class="glyphicon glyphicon-pencil"></i></span>
					</a>
					<td>
						<!-- <td > <div  style="position:absolute; right:60px; top:60px;"><a th:href="${a2zurl.url}" target="_blank"> <span th:text="${a2zurl.url}"></span> </a> 	</div></td> -->
						<!-- <div  style="position:absolute; right:60px; top:60px;"><a th:href="${a2zurl.url}" target="_blank"> <span th:text="${a2zurl.url}"></span> </a> 	</div> -->
					<td align="left" th:text="${a2zurl.id}" style="visibility: hidden;"></td>
					<!-- <td th:text = "${a2zurl.catogery}"></td> -->

					<td><a th:href="@{/a2zgoogle/edit/{id}(id=${a2zurl.id})}"
						class="btn btn-primary">Update</a> <a
						th:href="@{/a2zgoogle/{id}(id=${a2zurl.id})}"
						class="btn btn-danger">Delete</a></td>

					<!-- 	 <td>
					 
                                            Call to action buttons
                                            <ul class="list-inline m-0">
                                                <li class="list-inline-item">
                                                    <button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Add"><i class="fa fa-table"></i></button>
                                                </li>
                                               <a th:href = "@{/a2zgoogle/edit/{id}(id=${a2zurl.id})}"  class="list-inline-item">
                                                    <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                                                </a>  
                                                <li class="list-inline-item">
                                                    <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                                                </li>
                                            </ul>
                                        </td> -->
				</tr>
			</tbody>

		</table>

	</div>

</body>
</html>




