<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>a2z</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
alert("ecommerce html invoked ");
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  
  <a class="navbar-brand" href="#"></a>
<!-- A2zgoogle One Shop Stop Solution  -->
  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/a2zgoogle}">eCommerce</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/a2zgoogle}">Banking</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" th:href="@{/a2zgoogle}">Travels</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/a2zgoogle}">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/a2zgoogle}">Tradings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/a2zgoogle}">Health</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/a2zgoogle}">Insurence</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/a2zgoogle}">Social Sites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/a2zgoogle}">Emails</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/a2zgoogle}">Videos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/a2zgoogle}">a2zshare</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" th:href="@{/a2zgoogle}">careers</a>
      </li>
      <li class="nav-item",class="item-right">
      <form action ="https://google.com/search" method ="GET">
    
      <input   tyepe="text" name="q" placeholder="Google Search">
      <input   tyepe="text" type= "submit" value="GS">
     </li>
      </form>
     <li> 
      <a th:href = "@{/a2zgoogle/sub}" class = "btn btn-primary btn-sm mb-3">Sign Up</a>
    </li>
    </ul>
    
    
  </div>
</nav>

	<div class ="container"  >
		<div style="display: inline-block; text-align: right; width: 100%" class = "row" >
			<h2> URL List </h2>
		</div>
		 
		<div class = "row">
			<div  class = "col-lg-3">
				<a th:href = "@{/a2zgoogle/new}" class = "btn btn-primary btn-sm mb-3">Add URL</a>
			</div>
		</div>
		<table class = "table table-striped table-bordered" style="display: inline-block; text-align: right; width: 100%">
			<thead class = "table-dark"  >
				<!--<tr>
				 	<th> Student First Name</th>
					<th> Student Last Name</th>
					<th> url </th>
					<th> Actions </th>
				</tr> -->
			</thead> 
			
			<tbody >
				<tr align="right" th:each = "a2zurl: ${a2zgoogle}" style="display: inline-block; text-align: right; width: 100%">
					<!-- <td th:text = "${a2zurl.firstName}"></td>
					<td th:text = "${a2zurl.lastName}"></td>
					<td th:text = "${a2zurl.email}"></td>  -->
					<!--  <td th:text = "${a2zurl.url}"></td> -->
					<td  > <a th:href="${a2zurl.url}" target="_blank" > <span th:text="${a2zurl.url}"><i class="glyphicon glyphicon-pencil"></i></span> </a> <td>
					
					<!-- <td > <div  style="position:absolute; right:60px; top:60px;"><a th:href="${a2zurl.url}" target="_blank"> <span th:text="${a2zurl.url}"></span> </a> 	</div></td> -->
					<!-- <div  style="position:absolute; right:60px; top:60px;"><a th:href="${a2zurl.url}" target="_blank"> <span th:text="${a2zurl.url}"></span> </a> 	</div> -->
				
					<td align="left" th:text = "${a2zurl.id}" style="visibility: hidden;"></td>
					<!-- <td th:text = "${a2zurl.catogery}"></td> -->
					
					<td>
						<a th:href = "@{/a2zgoogle/edit/{id}(id=${a2zurl.id})}"
						 class = "btn btn-primary">Update</a>
						
						<a th:href = "@{/a2zgoogle/{id}(id=${a2zurl.id})}"
						 class = "btn btn-danger">Delete</a>
						 
					</td> 
					
				<!-- 	 <td>
					 
                                            Call to action buttons
                                            <ul class="list-inline m-0">
                                                <li class="list-inline-item">
                                                    <button class="btn btn-primary btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Add"><i class="fa fa-table"></i></button>
                                                </li>
                                               <a th:href = "@{/a2zgoogle/edit/{id}(id=${a2zurl.id})}"  class="list-inline-item">
                                                    <button class="btn btn-success btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></button>
                                                </a>  
                                                <li class="list-inline-item">
                                                    <button class="btn btn-danger btn-sm rounded-0" type="button" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-trash"></i></button>
                                                </li>
                                            </ul>
                                        </td> -->
				</tr>
			</tbody>
		
		</table>
		
	</div>
	 
</body>
</html>